<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connString"
			 providerName="System.Data.SqlClient"
			 connectionString="Data Source=DESKTOP-1UQDQTR\SQLEXPRESS;Initial Catalog=shivamIndustries;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=False"/>
	</connectionStrings>
</configuration>